<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatchGame Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css">
</head>

<body>
    <main class="container">
        <h1>CatchGame Dashboard</h1>
        <div style="display: flex;justify-content: space-between;">
            <span>Powered by Yusifubot</span>
            <span><a href="/catchgame/stat">JSON 格式数据</a></span>
        </div>
        <hr>
        {{range .stat}}
        <h2 id="{{.Name}}">{{.Name}}</h2>
        {{if .Desc}}
        <p style="color:grey">{{.Desc}}</p>
        {{end}}
        <table>
            <thead>
                <tr>
                    {{- if .Result }}
                    {{- range $key, $value := (index .Result 0) }}
                    <th>{{ $key }}</th>
                    {{- end }}
                    {{- end }}
                </tr>
            </thead>
            <tbody>
                {{- range .Result }}
                <tr>
                    {{- range $value := . }}
                    <td>{{ $value }}</td>
                    {{- end }}
                </tr>
                {{- end }}
            </tbody>
        </table>
        {{end}}
    </main>
</body>

</html>